
.usercard-header-container{
    background: purple;
    display: flex;
    align-items: center;
    gap: 4vw;
}


.usercard-container{
    display: flex;
    align-items: center;
    gap: 4vw;
}

.userdata-img{
    width: 10vw;
    border-radius: 50%;
}

.userdata-textblock{
    
    font-size: 1vw;
    width: 50%;
}

.userdata-textblock h1{
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 2vh;
}

.userdata-textblock p{
    margin: 5vh 5vw;
}

.btns{
    margin-left: 20vw;
    display: flex;
    gap: 4vw;
}

@media(max-width: 980px){
    .userdata-img{
        width: 20vw;
    }

    .usercard-container{
        flex-direction: column;
    }

    .userdata-textblock{
        width: 100%;
        font-size: 3vw;
    }
    .userdata-textblock h1{
        font-size: 5vw;
    }
    .btns{
        margin-left: 5vw;
        flex-direction: column-reverse;
    }
}